<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.email -%}
            <li>Email: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            <li>Facebook: <a href="https://www.facebook.com/groups/346510789343042/">Sabro skoles venner</a></li>
            <li>MobilePay: box85318</li>
	    <li><img width=100 height=100 src="{{ "/assets/mobilepay-qr.png" | relative_url }}" /></li>

        </ul>
      </div>
    </div>

  </div>

</footer>
